[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = silent

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = silent

# IDE0057: Use range operator
csharp_style_prefer_range_operator = false
